#text-amarillo{
    
    text-align: center;
    color: #ffd700;
}



#text-blanco{
    
  text-align: center;
  color: #fff;
}



#game{
    
  display: block;
  margin: auto;
  
}



body{
  background-color: #000;
}