h1,h2, h3{
    
    text-align: center;
    color: #ffd700;
}



h5{
    
  text-align: center;
  color: #fff;
}



game{
    
  text-align: center;
  max-height: 50%;
  display: block;
  margin: auto;
  
}



body{
  background-color: #000;
}